/* общие стили */
.content-section {
  box-sizing: border-box;
  width: 1100px;
  margin: auto;
  color: black;
  background-color: white;
}

.content-section-accent {
  box-sizing: border-box;
  width: 1100px;
  margin: auto;
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0.6);
}

/* стили для хедера */
/* установить размеры шрифтов и их начертание */
.header {
  padding: 92px 50px 96px 50px;
  font-size: 18px;
}

nav {
  display: grid;
  grid-template-columns: 1fr 150px 1fr;
  align-items: center;
}

address {
  justify-self: end;
  line-height: 24px;
  padding-right: 38px;
  text-underline-offset: 4px;
  font-style: normal;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  justify-self: center;
  gap: 20px;
}

.header__links-list-item {
  padding-right: 13px;
  text-decoration: underline;
  list-style: circle;
  text-underline-offset: 4px;
  /* нужно создать отступы между подчеркиванием и текстом  */
  /* увеличить межстрочное расстояние */
}

.header__links-list-item_no-bullit {
  padding-right: 13px;
  text-decoration: none;
  list-style: none;
}

.header-logo {
  justify-self: center;
}

.header__logo-image {
  width: 140px;
  height: 105px;
  background: url(../images/logo-black.svg) no-repeat;
}

/* стили для 1 секции */
/* нужно создать стиль оверлей для фона */
.cover {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.cover__title {
  z-index: 5;
  line-height: 1.15;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 0.3em;
  margin-bottom: 135px;
}

.aligned-text {
  margin-top: 20px;
  display: block;
  line-height: 1;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: end;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  flex-direction: row;
  z-index: 5;
  justify-content: end;
  align-items: center;
  gap: 80px;
  word-spacing: 18px;
}

.cover__description-text {
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
}

.bet-button {
  background-color: transparent;
  color: white;
  border: 1px solid currentColor;
  font-family: inherit;
  font-size: 22px;
  text-transform: uppercase;
  padding: 12px 32px;
}
/* стили для 2 секции */
.lots {
  max-width: 1052px;
  margin: 0 auto;
  margin-top: 179px;
  margin-bottom: 100px;
}

.lots__heading {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  margin-left: 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 27px;
  margin-bottom: 30px;
}

.lots__card-list-item {
  width: 31.75%;
}

.card {
  height: 563px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  padding: 51px 40px 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__title {
  position: relative;
  z-index: 5;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.card-text {
  position: relative;
  z-index: 5;
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
}

.card-link,
.lots__look-more-link {
  text-decoration: none;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  padding-bottom: 2px;
  border-bottom: 1px solid #000;
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
  color: #000;
  margin-left: 40px;
}
/* стили для 3 секции */
.about {
  max-width: 1052px;
  margin: 0 auto;
}

.about__column {
  display: grid;
  grid-template-columns: 31.75% 1fr;
}

.about__logo {
  z-index: 1;
  grid-column-start: 1;
  background-color: #000;
  width: 240px;
  height: 240px;
  border-radius: 240px;
  justify-self: center;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

.about__logo-image {
  width: 114px;
  height: 143px;
  z-index: 2;
}

.about__title,
.about__text {
  grid-column-start: 2;
}

.about__title {
  font-size: 40px;
  font-weight: bold;
  line-height: 47px;
  padding: 101px 0 92px;
 }

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
}
/* стили для футера */

/* нужно создать стиль единый для секций и для каждой секции прописать отступы */
